/* Font One */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Font Two */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
/* Font One */
#displays #font-one {
    font-family: Outfit;
}
/* Font Two */
#displays #font-two {
    font-family: Commissioner;
}

/* --- */

body {
    margin: 0;
    padding-bottom: 2ch;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    /* width: 550px; */
    width: 66ch;
    margin: 0 auto
}

label {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
}

#controls label {
    margin-top: 2rem
}

hr {
    margin: 2rem 0;
}

.control-displays {
    margin: 0;
    padding: 0;
}

#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

#custom-input {
    height: 2rem;
    padding: 0;
    margin: 0;
}

#displays, #controls {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2ch;
}

#displays {
    height: 20rem;
    overflow: hidden;
}